{% extends "base.html" %}

{% block title %}Sand & Sky Tours{% endblock %}

{% block content %}
{% include "includes/hero.html" with hero=hero %}
{% include "includes/sahari_banner.html" %}
{% include "includes/about.html" with about_section=about_section %}
{% include "includes/destinations.html" with destinations_section=destinations_section %}
{% include "includes/trip_picks.html" with trip_picks_section=trip_picks_section %}
{% include "includes/features.html" with features_section=features_section %}
{% include "includes/testimonials.html" %}
{% include "includes/gallery.html" with gallery_section=gallery_section %}
{% include "includes/blog_highlights.html" with blog_section=blog_section %}
{% endblock %}
